/* Block listing page */
.role-title__action {
  display: inline-block;
  margin-left: 1em; /* LTR */
}
[dir="rtl"] .role-title__action {
  margin-right: 1em;
  margin-left: 0;
}

/* Block demo mode */
.field-role {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
  color: #000;
  background-color: #ff6;
}
a.field-demo-backlink,
a.field-demo-backlink:link,
a.field-demo-backlink:visited {
  position: fixed;
  z-index: 499;
  left: 20px; /* LTR */
  padding: 5px 10px;
  color: #000;
  border-radius: 0 0 10px 10px;
  background-color: #b4d7f0;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: small;
  line-height: 20px;
}
a.field-demo-backlink:hover {
  text-decoration: underline;
}

/* Configure block form - Block description */
.field-form .form-item-settings-admin-label label {
  display: inline;
}
.field-form .form-item-settings-admin-label label::after {
  content: ":";
}
.field-disabled:not(:hover) {
  opacity: 0.675;
  background: #fcfcfa;
}
