
<style style="display: none">
#suffa-block ul {
  list-style-type: none;
}
#suffa-block li {
  margin-right: 2.25rem;
  float:left;
  transform: rotate(90deg);
}
.toolbar-tray-open #suffa-block {

}
</style>
<div id="suffa-block">
  <ul>
    {% if content.add_page %}
      <li>
        <a href="{{content.add_page}}" /><i class="fa-lg fa-solid fa-plus"></i></a>
      </li>
    {% endif %}
    {% if node %}
      <li>
        <a><i class="fa-lg fa-solid fa-link"></i></a>
      </li>
    {% endif %}
    {% if content.edit_form %}
      <li>
        <a href="{{content.edit_form}}"><i class="fa-lg fa-solid fa-wrench"></i></a>
      </li>
    {% endif %}
    {% if flag %}
      <li>
        <a><i class="fa-lg fa-solid fa-flag"></i></a>
      </li>
    {% endif %}
    {% if content.search %}
    <li>
      <a>
        <i class="fa-lg fa-solid fa-magnifying-glass"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
