{#
/**
 * @file
 * Default theme override for knowledge fields.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional title output populated by modules, intended to
 *   be displayed after the main title tag that appears in the template.
 * - knowledge: List of knowledge rendered through knowledge.html.twig.
 * - content_attributes: HTML attributes for the form title.
 * - knowledge_form: The 'Add new knowledge' form.
 * - knowledge_display_mode: Is the knowledge are threaded.
 * - knowledge_type: The knowledge type bundle ID for the knowledge field.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 * @see knowledge_preprocess_field()
 */
#}
<style>
.field--name-incident-id.field:not(:last-child) {
    margin-bottom: 0;
}
article[id^="knowledge-"] {
  margin-bottom: 10px;
}
</style>
<section{{ attributes }}>
  {% if knowledge_form %}
    <h2{{ content_attributes }}>{{ 'Link Incident'|t }}</h2>
    {{ knowledge_form }}
  {% endif %}

  {% if knowledge and not label_hidden %}
    {{ title_prefix }}
    <h2{{ title_attributes }}> {{ 'Linked Incidents'|t }}
    {# {{ label }} #}
    </h2>
    {{ title_suffix }}
  {% endif %}

  {{ knowledge }}

</section>
