{#
/**
 * @file knowledge_adherence.html.twig
 * Default theme implementation to present Adherence data.
 *
 * This template is used when viewing Adherence pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_knowledge_adherence()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('knowledge_adherence') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
