{#
/**
 * @file knowledge-quality.html.twig
 * Default theme implementation to present Quality data.
 *
 * This template is used when viewing Quality pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_knowledge_quality()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('knowledge_quality') }}>
  {% if score %}
    <div class="field field--type-boolean field--label-inline">
      <div class="field__label">Score</div>
      <div class="field__item">{{ score }} %</div>
    </div>
  {% endif %}

  {% if content %}
    {{- content -}}
  {% endif %}
</div>
