{#
/**
 * @file knowledge_competency.html.twig
 * Default theme implementation to present Competency data.
 *
 * This template is used when viewing Competency pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_knowledge_competency()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('knowledge_competency') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
